USE [master]
GO
/****** Object:  Database [Machine_cafe]    Script Date: 14/02/2021 23:18:21 ******/
CREATE DATABASE [Machine_cafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Machine_cafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Machine_cafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Machine_cafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Machine_cafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Machine_cafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Machine_cafe]
GO
/****** Object:  User [azerty]    Script Date: 14/02/2021 23:18:22 ******/
CREATE USER [azerty] FOR LOGIN [NT Service\MSSQL$SQLEXPRESS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Choix_utilisateurs]    Script Date: 14/02/2021 23:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choix_utilisateurs](
	[Id_Produit] [int] NOT NULL,
	[Num_Badge] [numeric](18, 0) NOT NULL,
	[Mug] [varchar](1) NULL,
	[Qtte_sucre] [int] NULL,
 CONSTRAINT [PK_Choix_utilisateurs] PRIMARY KEY CLUSTERED 
(
	[Num_Badge] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produits]    Script Date: 14/02/2021 23:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Produit] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Produit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 14/02/2021 23:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateurs](
	[Num_Badge] [numeric](18, 0) NOT NULL,
	[Nom] [nvarchar](50) NOT NULL,
	[Prenom] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Utilisateurs_1] PRIMARY KEY CLUSTERED 
(
	[Num_Badge] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Utilisateurs]  WITH CHECK ADD  CONSTRAINT [FK_Utilisateurs_Utilisateurs] FOREIGN KEY([Num_Badge])
REFERENCES [dbo].[Utilisateurs] ([Num_Badge])
GO
ALTER TABLE [dbo].[Utilisateurs] CHECK CONSTRAINT [FK_Utilisateurs_Utilisateurs]
GO
USE [master]
GO
